.cars-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem 0;
}

.cars-content-title {
    font-family: var(--secondary-font);
    font-size: 2rem;
    border-top: 1px solid var(--primary-color);
    padding-top: 1rem;
}

.cars-content-brands {
    margin: 2rem 0 3rem 0;
}

.cars-content-brands-button {
    padding: 0.6rem 1.1rem;
    margin: 0 .5rem;
    border: 1px solid var(--grey);
    background-color: transparent;
    border-radius: .3rem;
    color: black;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
}

.cars-content-brands-button:hover {
    cursor: pointer;
    background-color: var(--grey);
}

.cars-content-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem 0;
    margin: 1rem 0;
}

.cars-content-cards-car {
    padding: 1rem;
    width: 300px;
    border-radius: .3rem;
    box-shadow: 0 0 5px 5px var(--box-shadow);
    margin: 0 2rem;
    display: grid;
    grid-template-areas: 
    "img img img"
    "brand type year"
    "name name name"
    "desc desc desc"
    "price price price"
    "btn btn btn"
    ;
    gap: .5rem;
    
}

.cars-content-cards-image {
    grid-area: img;
    border-radius: .3rem;
    width: 100%;
    margin-bottom: .5rem;
}

.cars-content-cards-brand {
    grid-area: brand;
    justify-self: self-start;
}

.cars-content-cards-type {
    grid-area: type;
    justify-self: center;
}

.cars-content-cards-year {
    grid-area: year;
    justify-self: self-end;
}

.material-symbols-outlined {
    color: var(--grey2);
    font-size: 1.2rem !important;
}

.flex {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.tag {
    background-color: #f2f2f2;
    padding: .2rem .4rem;
    border-radius: .5rem;
    font-weight: 500;
    font-size: .9rem;
    color: var(--grey2);
}

.cars-content-cards-name {
    grid-area: name;
    margin-top: .5rem;
}

.cars-content-cards-description {
    grid-area: desc;
    color: var(--grey2);
}

.cars-content-cards-price {
    grid-area: price;
    justify-self: flex-end;
    padding: .2rem 0;
    font-weight: 500;
    font-size: 1.1rem;
}

.cars-content-cards-btn {
    grid-area: btn;
    background-color: var(--primary-color);
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: .5rem 0;
    border-radius: .3rem;
    transition: .3s;
}

.cars-content-cards-btn:hover {
    background-color: var(--secondary-color);
}

.all-cars {
    padding: 0.7rem 1.2rem;
    margin: 3rem 0;
    border: 1px solid var(--grey);
    background-color: transparent;
    border-radius: .3rem;
    color: black;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
}

.all-cars:hover {
    cursor: pointer;
    background-color: var(--grey);
}

@media screen and (max-width: 1200px) {
    .cars-content-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .cars-content-cards {
        display: flex;
        flex-direction: column;
    }
}