.plans-content {
    background-color: #fbfafa;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans-content-title {
    font-size: 2rem;
    margin-top: 5rem;
    padding-top: 1rem;
    border-top: 1px solid var(--primary-color);
    font-family: var(--secondary-font);
}

.plans-content-text {
    font-size: 1.1rem;
    color: var(--grey2);
    margin-bottom: 5rem;
}

.plans-content-card {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
}

.plans-content-card-plans {
    padding: 1rem 4rem;
    background-color: blue;  
}

.left {
    border-radius: .4rem 0 0 .4rem;
    background-color: #fff;
}

.center {
    transform: scale(1.1);
    border-radius: .4rem;
    background-color: var(--secondary-color);
    color: #fff;
}

.right {
    border-radius: 0 .4rem .4rem 0;
    background-color: #fff;
}

.shadow {
    box-shadow: 0 0 5px 5px rgb(226, 226, 226);
}

.plans-content-card-list li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
}

.plans-content-card-title {
    font-size: 1.2rem;
    font-weight: 500;
}

.plans-content-card-price {
    font-size: 2rem;
    font-weight: 500;
}

.plans-content-card-button {
    padding: .6rem 1.1rem;
    text-transform: uppercase;
    background-color: var(--secondary-color);
    border: none;
    color: #fff;
    font-weight: 500;
    transition: .3s;
    border-radius: .3rem;
}

.plans-content-card-button:hover {
    background-color: var(--dark);
    cursor: pointer;
}

.plans-content-card-center-button {
    background-color: #fff;
    padding: .6rem 1.1rem;
    text-transform: uppercase;
    border: none;
    font-weight: 500;
    border-radius: .3rem;
    transition: .3s;
}

.plans-content-card-center-button:hover {
    cursor: pointer;
    background-color: #fbfafa;
}

.plans-content-card-benefits {
    display: flex;
    gap: .5rem;
}

@media screen and (max-width: 1000px) {
    .plans-content {
        padding: 0;
    }
}

@media screen and (max-width: 600px) {
    .plans-content {
        height: fit-content;
        padding-bottom: 2.5rem;
    }

    .plans-content-card-plans {
        padding: 1rem 5.5rem;
    }

    .plans-content-title {
        border-top: none;
        font-size: 1.5rem;
        text-align: center;
    }

    .plans-content-text {
        font-size: 1.1rem;
        margin-bottom: 0;
    }

    .plans-content-card {
        display: flex;
        flex-direction: column;
    }
    
    .right {
        border-radius: .4rem;
    }

    .center {
        transform: scale(1);
        margin: 1.5rem 0;
    }

    .left {
        border-radius: .4rem;
    }
}