.search-content {
    margin: -4rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    width: 100%;
}

.search-content-form {
    background-color: #fff;
    box-shadow: 0 0 5px 5px rgb(238, 238, 238);
    display: flex;
    padding: 2rem 4rem;
}

.search-content-field {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 1rem;
}

.search-content-label {
    font-size: 1rem;
    font-weight: 600;
}

.search-content-input {
    border: 1px solid #d2d2d2;
    border-radius: .2rem;
    padding: .6rem 1rem;
    margin: .5rem 0 0 0;
    color: #000;
}

.search-content-search {
    display: flex;
    align-items: flex-end;
}

.search-content-button {
    border: 1px solid transparent;
    background-color: var(--primary-color);
    padding: .6rem 2rem;
    border-radius: .2rem;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.search-content-button:hover {
    background-color: var(--secondary-color);
}

@media screen and (max-width: 1000px) {
    .search-content {
        margin: -2rem 0 0 0;
    }
    
    .search-content-form {
        display: flex;
        flex-direction: column;
    }

    .search-content-field {
        margin: .7rem 0;
    }

    .search-content-search {
        margin-top: 1rem;
        justify-content: center;
    }

    .search-content-button {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .search-content {
        padding: 0;
        margin: -2 0 0 0;
        max-width: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-content-form {
        width: 60%;
        padding: 1rem;
    }

    .search-content-button {
        text-align: center;
        width: 100%;
    }
}