@import url("css/header.css");
@import url("css/banner.css");
@import url("css/search.css");
@import url("css/cars.css");
@import url("css/plans.css");
@import url("css/footer.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --primary-color: #E23E57;
    --secondary-color: #88304E;
    --dark: #522546;
    --night: #311D3F;
    --box-shadow: rgb(238, 238, 238);
    --grey: #d2d2d2;
    --grey2: #7e7e7e;

    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--primary-font);
}

html {
    scroll-behavior: smooth;
}


